@import "tailwindcss";
@import 'tw-animate-css';

::-webkit-scrollbar {
  width: 1px;
  background: var(--color-light-yellow);
}

::-webkit-scrollbar-thumb {
  background: var(--color-light-purple);
  border-radius: 4px;
}
